In [ ]:
a=1
b=1
c=1
a+b+c

In [ ]:
1a=1

In [ ]:
a 1=1

In [ ]:
a_1=1

In [ ]:
_a1=1

In [ ]:
""a=1

In [ ]:
a@gmail.com=1

In [ ]:
if=2

In [ ]:
type=1

In [1]:
a=1
type(a)

int

In [3]:
count=100
kilometers=1000.0
name='Amit'

In [4]:
print(count,kilometers,name)

100 1000.0 Amit

In [5]:
a,b,c=1,2,"Amit"
print(a,b,c)

1 2 Amit

In [6]:
a=b=c=1
print(a,b,c)

1 1 1

In [8]:
print(id(a))
print(id(b))
print(id(c))

140710022124352
140710022124352
140710022124352

In [10]:
a=1
b=1
c=1
print(id(a))
print(id(b))
print(id(c))
type(a)

140710022124352
140710022124352
140710022124352

int

In [11]:
del a

In [12]:
a

NameError: name 'a' is not defined

In [13]:
b=3.13j
type(b)

complex

# String

In [14]:
str1="Python is a programming language"
print(str1)

Python is a programming language

In [15]:
a=1
a*2

2

In [16]:
str1="Python is a programming language"
print(str1*2)

Python is a programming languagePython is a programming language

In [17]:
str1="Hii"
str2="Python is programing language"
print(str1+str2)

HiiPython is programing language

In [3]:
a=1
print(id(a))
a=2
print(id(a))

140710301832000
140710301832032

# sequences

In [11]:
#sequences
#sequences start from 0
str1="python is a programming language"
print(str1)
print(str1[0])
print(str1[2:10])
print(str1[6:18])
print(str1[12:23])
str1.split()

python is a programming language
p
thon is
 is a progra
programming

['python', 'is', 'a', 'programming', 'language']

In [17]:
#string format
str1="{1} {0} {2}".format("I","am","Fine")

In [18]:
str1

'am I Fine'

In [20]:
#keyword formatting
string1=" {a} {e} {c}".format(a='python', e='programming', c='language')
print(string1)

 python programming language

In [21]:
str1.capitalize()

'Am i fine'

In [22]:
str1.casefold()

'am i fine'

# List

In [32]:
#Python List
L=[1,2,3,"ABES",4,5]
L

[1, 2, 3, 'ABES', 4, 5]

In [33]:
L[0:3]

[1, 2, 3]

In [35]:
L[3][2]

'E'

In [40]:
ks=[1,2,3]
ks+ks

[1, 2, 3, 1, 2, 3]

In [41]:
ls=[7,8,9]
ks+ls

[1, 2, 3, 7, 8, 9]

In [42]:
ks*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [43]:
L

[1, 2, 3, 'ABES', 4, 5]

In [46]:
#Changing the value of 0th index
L[0]=10
L
print(id(L))

1844823075144

In [47]:
L2="Amit"
print(id(L2))

1844823513944

In [48]:
L2[0]="R"

TypeError: 'str' object does not support item assignment

In [53]:
L2="R"+L2[1:]
L2
print(id(L2))

1844823860144

# Take from User

In [56]:
a=input("Enter your name: ")
type(a)

Enter your name: Amit Yadav

str

In [59]:
a=input("Enter your age: ")

Enter your age: 21

In [58]:
type(a)

str

In [60]:
a*2

'2121'

In [61]:
a=int(input("Enter your age: "))

Enter your age: 21

In [62]:
type(a)

int

In [63]:
a*2

42

In [65]:
a=input("Enter Sequence")

Enter Sequence12 13 14 15

In [66]:
type(a)

str

In [67]:
a.split( )

['12', '13', '14', '15']

# Tuples

In [70]:
#similar to string but you can't add any string after assignment
tuple1=('abcd', 786, 2.23, 'john', 70.2)
tuple2=(123, 'john')

In [71]:
print(tuple1)

('abcd', 786, 2.23, 'john', 70.2)

In [72]:
tuple1[0]

'abcd'

In [74]:
tuple1[0]="hii"

TypeError: 'tuple' object does not support item assignment

In [75]:
tuple1*4

('abcd',
 786,
 2.23,
 'john',
 70.2,
 'abcd',
 786,
 2.23,
 'john',
 70.2,
 'abcd',
 786,
 2.23,
 'john',
 70.2,
 'abcd',
 786,
 2.23,
 'john',
 70.2)

# Dictionary

In [80]:
dict1={}
type(dict1)

dict

In [83]:
dict1['one']= "This is python"
dict1[2]= "This is java"

In [84]:
dict1

{'one': 'This is python', 2: 'This is java'}

In [85]:
dict1[2]

'This is java'

In [90]:
dict2={'name': 'Amit', 'id':1234, 'dept': 'Technical'}

In [91]:
dict2['name']

'Amit'

In [92]:
dict2['id']

1234

In [94]:
# To check all keys present in dictionary
print(dict2.keys())

dict_keys(['name', 'id', 'dept'])

In [96]:
# To check all values in dictionary
print(dict2.values())

dict_values(['Amit', 1234, 'Technical'])

# While Loop

In [97]:
count=0
while(count<10):
    print(count)
    count=count+1

0
1
2
3
4
5
6
7
8
9

# While Loop with Else

In [105]:
count=0
while(count<5):
    print(count, "Is less than 5")
    count=count+1
else:
    print(count, "Is not less than 5")

0 Is less than 5
1 Is less than 5
2 Is less than 5
3 Is less than 5
4 Is less than 5
5 Is not less than 5

# For Loop

In [106]:
a=[1,2,34,56,78]
for i in a:
    print(i)

1
2
34
56
78

In [107]:
a=input("Enter Your Name: ")

Enter Your Name: Amit Yadav

In [110]:
total=0
for i in a:
    print(i)
    total=total+1
print(total)

A
m
i
t

Y
a
d
a
v
10